*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --float-primary-color: #e53170;
    --float-title-color: black;
    --float-card-color: #0F0E17;
    --float-card-text-color: white;
    --float-mail-color: #07C0F3;
}

body{
    padding: 2rem;
}

.container{
    width: 80%;
    margin: auto;
}

.title{
    color: var(--float-primary-color);
    padding: 2rem;
    text-align: center;
    font-family: 'Fredoka One', cursive;
}

.text, .card_text{
    font-family: 'Fredoka', sans-serif;
}
.text{
    padding: 0 0 2rem;
    color: var(--float-title-color);
    text-align: center;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

img{
    max-width: 100%;
    width: 100px;
    padding-right: 1rem;
    float: left;
}

.col{
    width: calc(100% / 3 - 2rem);
    float: left;
    background-color: var(--float-card-color);
    margin: 1rem;
    box-shadow: 0 0 10px var(--float-card-color);
}


.card_text{
    color: var(--float-card-text-color);
    padding-top: 0.5rem;
}

a{
   text-decoration: none;
   color: var(--float-mail-color);
}