*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 2rem;
}

.container{
    width: 70%;
    margin: auto;
}

.title{
    color: fuchsia;
    padding: 2rem;
    text-align: center;
}

.text{
    padding: 0 0 2rem;
    color: black;
    text-align: center;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

img{
    max-width: 100%;
    padding-right: 1rem;
}

.col, img{
    width: calc(100% / 3);
    float: left;
    background-color: darkgrey;
}

.card_text{
    padding: 0.5rem;
    color: white;
}

a{
   text-decoration: none ;
}